* {
    box-sizing: border-box;
}

:root {
    --game-size: 800px;
    font-family: 'Press Start 2P', cursive;
}

@media (max-width: 800px) {
    :root {
        --game-size: 600px;
    }
}

@media (max-width: 600px) {
    :root {
        --game-size: 500px;
    }
}

@media (max-width: 500px) {
    :root {
        --game-size: 400px;
    }
}

@media (max-width: 400px) {
    :root {
        --game-size: 300px;
    }
}
/* CSS Reset */
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
!* HTML5 display-role reset for older browsers *!
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}*/

body {
    background-color: beige;
}

main {
    display: grid;
    grid-template-rows: var(--game-size) 200px;
    grid-template-columns: 100px var(--game-size) 100px;
    width: 1000px;
    height: 1000px;
    margin: auto;
    justify-content: center;
}

#gameContainer {
    grid-column: 2 / 3;
}

@media (max-width: 1000px) {
    main {
        width: var(--game-size);
        height: var(--game-size) + 200px;
        grid-template-columns: var(--game-size);
    }
    #gameContainer {
        grid-column: auto;
    }
}

#game {
    display: grid;
    width: var(--game-size);
    height: var(--game-size);
    padding: 5px;
    margin: 0;
}

#menu {
    position: absolute;
    width: var(--game-size);
    height: calc(var(--game-size) / 1.5);
    margin: auto;
    left: 0;
    right: 0;
    top: 5%;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 30% 20% 30% 30%;
    border: 2px solid grey;
    border-radius: 5px;
    z-index: 5;
    background-color: black;
}
#start {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    font-size: 20px;
}

#select {
    grid-column: 1 / 4;
    align-self: center;
    color: white;
    font-size: 24px;
}

@media (max-width: 1000px) {
    #menu {
        font-size: 16px;
    }
    #menu button {
        font-size: 12px;
    }
    #start {
        font-size: 14px;
    }
    #select {
        font-size: 18px;
    }
}

#appleCounter {
    font-size: 30px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
@media (max-width: 1000px) {
    #appleCounter {
        font-size: 24px;
        grid-column: auto;
    }
}

.snake {
    background-color: greenyellow;
    border-radius: 10px;
    border: 3px solid lawngreen;
    color: white;
}

.appleContainer {
    font-size: 7px;
    position: relative;
}

@media (max-width: 1000px) {
    .appleContainer {
        font-size: 5px;
    }
}

.apple {
    width:6em;
    height:5em;
    background-color:  #ff4355;
    box-shadow: inset 0.2em -0.2em  #cc1022;
    border-radius: 2em 2em 3em 3em;
    top: 1em;
    left:0.3em;
    position: absolute;
}

.apple:before {
    top:-.2em;
    left:1.8em;
    content:"";
    width:4.1em;
    height:2.75em;
    background-color: inherit;
    border-radius: 3em 3em 0 0 ;
    box-shadow:-1.5em 0 0   #ff4355, inset .2em 0.2em  #ff4355;
    position: absolute;
}

.apple:after{
    content:"";
    width: 0.3em;
    height: 1.2em;
    background-color:sandybrown;
    z-index: 2;
    top: -0.5em;
    position: absolute;
    left: 3em;
}

div {
    text-align: center;
}

#menu.hide {
    display: none;
    visibility: hidden;
    z-index: -20;
}

.head {
    background-color: yellow;
}
